h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.75rem;
  margin-top: 60px;
  color: #0062ff
}

body {
  margin: 0;
  text-align: center;
  background-color: #a1b6cc;
  margin-top: 50px;
  font-family: 'Volkhov', serif;
  color: #40514E;
}

.upper-cloud {
  position: relative;
  left: 250px;
  margin-top: 60px;
}

.bottom-cloud {
  position: absolute;
  left: 290px;
  bottom: 250px;
}

.monospacefont {
  font-family: 'Share Tech Mono', monospace;
  color: #0062ff;
  font-weight: normal;
}

.bottom-container {
  position: relative;
  top: 100px;
  background-color: #66BFBF;
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
}

.middle-container {
  position: relative;
  top: 100px;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.mac {
  width: 25%;
  float: left;
  margin-right: 100px;
}

.hhh {
  Width: 25%;
  float: left;
  margin-top: 60px;
  margin-right: 100px;
}

hr {
  border-color: #1E62D0;
  border-style: dotted;
  width: 3%;
  border-width: 5px 0 0 0;
  height: 10%;
  margin-bottom: 60px;
  margin-top: 60px;
}

h2 {
  color: #11999E;
}

.whitebackground {
  background-color: white;
}

.jbel {
  position: relative;
  top: 5px;
}

.btn {
  background-color: white;
}

.contact-me {
  background-color: white;
}

.media {
  background-color: white;
}

.trademark {
  padding-bottom: 30px;
  color: #EAF6F6;
  font-size: 0.75rem;
}

.footer-link {
  color: #11999E;
  padding-left: 30px;
  padding-right: 30px;
}

.BUTTON_OCN {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  height: 25px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: Arial;
  width: 281px;
  font-size: 39px;
  padding: 24px;
  background-color: #11999E;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_OCN:hover {
  border: solid #337FED 0;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

p {
  line-height: 2;
}

.grad {
  background-image: linear-gradient(#a1b6cc, white);
}

.contact {
  width: 40%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}
a:hover{
  color: #FFFFFF;
}
